<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Work 11</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-init="names=[
    {'name': 'ตั้งชื่อใหม่1', 'country': 'thailand', 'salary': 0},
    {'name': 'ตั้งชื่อใหม่2', 'country': 'thailand', 'salary': 0},
    {'name': 'ตั้งชื่อใหม่3', 'country': 'thailand', 'salary': 0}
]">
    <div class="container">
        <h2>AngularJS Woek 11</h2>
        <input type="text" class="form-control" ng-model="queryString.name" placeholder="Filter by">
        <input type="radio" value="name" ng-model="sortString"> Sorted by Name
        <input type="radio" value="-name" ng-model="sortString"> Sorted by Name (Descending)
        <input type="radio" value="country" ng-model="sortString"> Sorted by Country
        <p>{{ sortString }}</p>
        <table class="table">
            <tr ng-repeat="n in names | filter:queryString | orderBy:sortString">
                <td>{{ n.name }}</td>
                <td>{{ n.country }}</td>
                <td>{{ n.salary | currency:'THB' }}</td>
            </tr>
        </table>
    </div>
</body>
</html>